// global.scss
@import '../css/reset';
@import '../css/var';
@import '../css/mixin';
@import '../css/home';
@import '../css/navbar';
@import '../css/footer';

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}